
function convertAogTimeStr(psTimeType, psTime) {
	if (!psTimeType && !psTime) {
		return '随时提货';
	}

	var str = '';
	switch (psTimeType) {
		case 1:
			str = '当天';
			break;
		case 2:
			str = '次日';
			break;
	}

	str += ' ';

	var h = parseInt(psTime / (60 * 60));
	psTime = psTime % (60 * 60);
	var m = parseInt(psTime / 60);

	str += h < 10 ? '0' + h : h;
	str += ':';
	str += m < 10 ? '0' + m : m;

	str += ' ';
	return str;
}

module.exports = {
	convertAogTimeStr: convertAogTimeStr
};
