function convertAogTimeStr(aogIntervalDay, aogTime) {
	if (!aogIntervalDay && !aogTime) {
		return '随时提货';
	}

	var str = '';
	switch (aogIntervalDay) {
		case 0:
			str = '当天';
			break;
		case 1:
			str = '次日';
			break;
		default:
			str = aogIntervalDay + '天';
			break;
	}

	var h = aogTime / (60 * 60);
	aogTime = aogTime % (60 * 60);
	var m = aogTime / 60;

	str += h < 10 ? '0' + h : h;
	str += ':';
	str += m < 10 ? '0' + m : m;
	return str;
}

module.exports = {
	convertAogTimeStr: convertAogTimeStr
};
